@(registrations: List[Registration])(implicit flash: Flash)
@main("Super Simple Sample") {
   @if(flash.data.contains("message")){
     <div class="alert alert-success">@flash.get("message")</div>
   }
   <a href="@routes.Register.index" class="btn btn-primary">Register</a>
   <table class="table table-bordered">
     <thead>
       <tr>
         <th>Username</th>
         <th>Real Name</th>
       </tr>
     </thead>
     <tbody>
      @registrations.map { registration =>
        <tr>
          <td>@registration.username</td>
          <td>@registration.realName</td>
        </tr>
      }
    </tbody>
  </table>
}

