@(links: List[models.Link])(implicit flash: Flash)
@main("PlayersNext! Info") {
   @if(flash.data.contains("message")){
     <div class="alert alert-success">@flash.get("message")</div>
   }
   <a href="@routes.Link.index" class="btn btn-primary">Submit a New Link</a>
   <table class="table table-bordered">
     <thead>
       <tr>
         <th>URL</th>
         <th>Title</th>
         <th>Description</th>
         <th>Tags</th>
       </tr>
     </thead>
     <tbody>
      @links.map { link =>
        <tr>
          <td>@link.url</td>
          <td>@link.title</td>
          <td>@link.description</td>
          <td>@link.tags.map { tag => @(tag + " ") }
          </td>
        </tr>
      }
    </tbody>
  </table>
}

