@(linkForm: Form[models.Link])(implicit flash: Flash)

@import play.api.i18n._
@import views.html.helper._

@input(field: Field, label: String, fieldType: Symbol = 'text) = {
  <div class="control-group @if(field.hasErrors) {error}">
    <label class="control-label" for="@field.name">@label</label>
    <div class="controls">
      <input type="@fieldType.name" value="@field.value" name="@field.name" />
      @if(field.hasErrors){
        <span class="help-inline">
          @Messages(field.error.head.message)
        </span>
      }
    </div>
  </div>
}

@main("PlayersNext! Submit a Link") {

    @form(action = routes.Link.create, 'class -> "form-horizontal") {

      <fieldset>
        <legend>Link</legend>
        @* GLOBAL ERROR/FLASH MESSAGE *@
        @linkForm.globalError.map { error =>
          <div class='row'>
            <div class="alert alert-error" style="margin-left:30px;margin-top:20px;">@error.message</div>
          </div>
        }
        @input(linkForm("url"), "url")
        @input(linkForm("title"), "title")
        @input(linkForm("description"), "Description")
        <!-- Non-Ajax approach of listing 3 tag fields for input
        @repeat(linkForm("tags"), min = 3) { tagField =>
          @input(tagField, "Tag")
        }
        -->
        <!--
          Add javascript controls that will parse the text entered into:
           'tags_input' and will construct a name="tags[i]" for each tag entered
           <input type="text" value="" name="tags[i]" />
        -->
        <div class="control-group">
            <label class="control-label" for="tags[0]">Tags</label>
            <div class="controls">
                <input type="text" value="" name="tags[0]" />
            </div>
       </div>
      </fieldset>
      <input type="submit" class="btn" value="Register"/>
    }
}

