@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.2.3.0.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-responsive.2.3.0.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("css/main.css")" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="@routes.Assets.at("tagmanager/bootstrap-tagmanager.css")" type="text/css" charset="utf-8">

</head>
<body bgcolor="#ffffff">
    @content
    <!-- including ember.js after we've defined our templates so ember will compile them for us -->
    <script src="@routes.Assets.at("js/lib/jquery-1.9.1.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.at("js/lib/bootstrap.2.3.0.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.at("js/lib/handlebars-1.0.0-rc.3.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.at("js/lib/ember-1.0.0-rc.1.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.at("js/lib/ember-data.latest20130310.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.at("tagmanager/bootstrap-tagmanager.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.at("js/app/app.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.at("js/app/models.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.at("js/app/templates.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.at("js/app/views.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.at("js/app/controllers.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.at("js/app/router.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.at("js/app/main.js")" type="text/javascript" charset="utf-8"></script>
    <script src="http://scripts.embed.ly/jquery.embedly-3.0.4.min.js" type="text/javascript" charset="utf-8"></script>


</body>
</html>
