<html>
  <head>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script>
    <!-- TODO: print media type might be inappropriate, ref RWD --> 
    <link href="css/index.css" media="screen, print" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div id='header'>
      <div id='header_links'>
        <ul>
          <li>My PlayerNext</li>
          <li>Top</li>
          <li>Football</li>
          <li>Soccer</li>
          <li>Baseball</li>
          <li>Basketball</li>
          <li>Hockey</li>
          <li><b>More>></b></li>
        </ul>
      </div>
    </div>
    <div id='top_util'>
      <h1>PlayerNext</h1>
      <a href='#'>Sign In</a>
      <a href='#'>Register</a>
      <hr/>
    </div>
    <div id='body_container' class="body_container">
      <div class="page"></div>
    </div>
    <div id='bottom_util'>
      <a>About</a>
    </div>

    <!-- TEMPLATES -->
    <script type="text/template" id="link-list-template">
      <a href="#/new" class=btn btn-primary>New Link</a>
      <% _.each(links, function(link) { %>
        <a href="<%= link.get('url') %>"><%= link.get('description') %></a>
      <% }); %>
    </script>

    <script type="text/template" id="edit-link-template">
      <form class="edit-link-form">
        <legend><%= link ? 'Update' : 'Create' %> Link</legend>
        <label>URL</label>
        <input type='text' name='url' value="<%= link ? link.get('url') : '' %>"/>
        <label>Description</label>
        <input type='text' name='description' value="<%= link ? link.get('description') : '' %>"/>
        <hr />
        <button type="submit" class="btn"><%= link ? 'Update' : 'Create' %></button>
        <% if(link) { %>
          <input type="hidden" name="id" value="<%= link.id %>"/>
          <button class="btn btn-danger delete">Delete</button>
        <% }; %>
      </form>
    </script>
    <!-- END TEMPLATES -->
    <!-- MAIN BACKBONE JS -->
    <script>
      // *************************************************************
      // Helper Methods
      // *************************************************************

      $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
        options.url = 'http://localhost:9000/api' + options.url;
        options.crossDomain = 'true';
      });

      $.fn.serializeObject = function() {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
          if (o[this.name] !== undefined) {
            if (!o[this.name].push) {
              o[this.name] = [o[this.name]];
            }
            o[this.name].push(this.value || '');
          } else {
            o[this.name] = this.value || '';
          }
        });
        return o;
      };

      // *************************************************************
      // View / Controller 
      // *************************************************************
      var Link = Backbone.Model.extend({
        url: function() {
          return this.id ? '/link/' + this.id : '/link';
        }
      });
      var Links = Backbone.Collection.extend({
        model: Link,
        url: '/link'
      });

      var LinkList = Backbone.View.extend({
        el: '.page',
        render: function() {
          var links = new Links();
          var cxt = this;
          links.fetch({
            success: function(results) {
              if (results.length <= 0) { 
                cxt.$el.html('<h4>There doesn\'t seem to be anything here.</h4>');
              } else {
                // Populate list here
                var template = _.template($('#link-list-template').html(), {links: links.models});
                cxt.$el.html(template);
              }
            }, 
            error: function(results, jqXHR) {
              console.log(jqXHR.statusText);
            }
          });
        }
      });

      var EditLink = Backbone.View.extend({
        el: '.page',
        render: function(options) {
          var cxt = this;
          if (options.id) {
            // GET request
            cxt.link = new Link({id: options.id});
            cxt.link.fetch({
              success: function(link) {
                var template = _.template($('#edit-link-template').html(), {link: link});
                cxt.$el.html(template);
              }
            });
          } else {
            var template = _.template($('#edit-link-template').html(), {link: null});
            this.$el.html(template);
          }
        },
        events: {
          'submit .edit-link-form': 'saveLink',
          'click .delete': 'deleteLink'
        },
        saveLink: function(ev) {
          var linkDetails = $(ev.currentTarget).serializeObject();
          var link = new Link();
          link.save(linkDetails, {
            success: function(link) {
              router.navigate('', {trigger: true});
            }
          });
          return false;
        },
        deleteLink: function(ev) {
          this.link.destroy({
          success: function() {
            router.navigate('', {trigger: true});
          }
        }); 
        return false;
        }
      });

      // *************************************************************
      // Router 
      // *************************************************************
      var Router = Backbone.Router.extend({
        routes: {
            '': 'home',
            'new': 'editLink',
        }
      });

      var linkList = new LinkList();
      var editLink = new EditLink();

      var router = new Router();
      router.on('route:home', function() {
        linkList.render();
      });
      router.on('route:editLink', function(id) {
        editLink.render({id: id})
      });

      Backbone.history.start();
    </script>
    <!-- END MAIN BACKBONE JS -->
  </body>
</html>